.button {
  width: 100%;
  padding: 10px;
  border: none;
  color: #ffffff;
  text-align: center;
  word-break: break-all;

  &--blue {
    background-color: $blue-base;

    &:hover,
    &:focus {
      background-color: darken($blue-base, 3);
    }
  }

  &--green {
    background-color: $green-base;

    &:hover,
    &:focus {
      background-color: darken($green-base, 3);
    }
  }
}
