@mixin pos-absolute($top: 0, $right: auto, $bottom: auto, $left: 0) {
  position: absolute;
  content: "";
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin wrapper {
  margin: 0 auto;
  padding: 0 20px;
  max-width: $desktop-width;
}

@mixin clear-list {
  padding: 0;
  list-style: none;
}

@function darker($color, $tone) {
  $adjust: -16*$tone;
  @return adjust-color($color, $red: $adjust, $green: $adjust, $blue: $adjust);
}

@mixin title-mobile {
  font-size: 16px;
  line-height: 18px;
}
