$font-base: 'Roboto', "Arial", sans-serif;
$font-rubik: 'Rubik', "Arial", sans-serif;

$bg-site: #E5E5E5;
$silver-100: #9C9C9C;
$silver-200: #8B8B8B;
$silver-300: #878787;
$blue-base: #3898CD;
$blue-metro: #57AEFF;
$green-base: #C9DB49;
$yellow-metro: #FAFF00;

$mobile-width: 375px;
$tablet-width: 768px;
$desktop-width: 1210px;
