.form-search-place {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 15px 22px 15px;
  background-color: #ffffff;

  &__block-group {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;

    @include for-desktop-up {
      width: 80.9%;
    }
  }

  &__group-top,
  &__group-bottom {
    display: flex;
    width: 100%;
  }

  &__group-top,
  &__group-bottom {
    @include for-phone-only {
      flex-wrap: wrap;
    }
  }

  &__input-group {
    width: 100%;
    margin: 0;
    margin-right: 11px;
    margin-bottom: 20px;
    word-break: break-all;

    @include for-phone-only {
      width: 100%;
      max-width: none;
      margin-right: 0;
    }

    &:last-child {
      margin-right: 0;
    }


    &--buy,
    &--city {
      min-width: 101px;
      max-width: 101px;
    }

    &--type,
    &--checkbox {
      min-width: 216px;
      max-width: 216px;
    }

    &--address,
    &--variant {
      @include for-desktop-up {
        min-width: 341px;
        max-width: 341px;
      }
    }

    &--city,
    &--checkbox,
    &--variant {
      padding-left: 15px;
      margin-bottom: 0;

      @include for-phone-only {
        padding-left: 0;
        margin-bottom: 10px;
      }
    }

    &--checkbox {
      padding-right: 15px;
    }

    &--variant {
      padding-left: 22px;

      @include for-phone-only {
        padding-left: 0;
      }
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 15px;

    @include for-phone-only {
      flex-direction: column;
      flex-wrap: wrap;
      width: 100%;
    }

    @include for-tablet-portrait-up {
      margin-left: auto;
    }

    @include for-desktop-up {
      flex-wrap: wrap;
      margin-top: 0;
      max-width: 148px;
    }
  }

  &__submit {
    width: 100%;
  }

  &__reset {
    position: relative;
    min-width: 120px;
    margin-left: 25px;
    border: none;
    background: transparent;

    @include for-phone-only {
      margin: 0 auto;
      margin-top: 10px;
    }

    @include for-desktop-up {
      min-width: 120px;
      margin-top: 20px;
      margin-left: 0;
    }

    &::before,
    &::after {
      @include pos-absolute(45%, auto, auto, -6px);
      width: 9px;
      height: 1px;
      background-color: $blue-base;
      transform: translateY(-45%);
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &__checkbox-group {
    margin: 0;
    padding: 0;
  }

  &__label {
    position: relative;
    margin-right: 6px;
    padding-left: 20px;

    &::before {
      @include pos-absolute(0, auto, auto, 0);
      width: 14px;
      height: 14px;
      border: 1px solid $blue-base;
    }
  }

  &__checkbox:checked + label {
    &::before {
      background: url("/src/images/icon-check.svg") $blue-base no-repeat center center;
    }
  }

  &__checkbox:hover + label,
  &__checkbox:focus + label {
    &::before {
      box-shadow: 0 0 5px $blue-base;
    }
  }
}
