.register-viewing-form {
  &__text {
    display: block;
    width: 100%;
    max-height: 85px;
    margin-bottom: 13px;
    padding: 7px 22px 18px 11px;
    border: 1px solid #c4c4c4;
    font-family: $font-rubik;
    font-weight: 300;
    font-size: 10px;
    line-height: 15px;

    &::placeholder {
      color: rgba(0, 0, 0, 0.5) !important;
    }
  }

  &__phone {
    margin-bottom: 19px;
  }

  &__submit {
    padding: 6px 42px;
    max-width: 159px;
  }
}
