.apartment-sale {
  padding-top: 13px;
  padding-bottom: 35px;

  @include for-phone-only {
    padding-bottom: 15px;
  }

  &__place-card {
    margin-bottom: 26px;
  }

  &__header {
    margin: 0;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;

    @include for-phone-only {
      margin-top: 15px;
    }

    @include to-tablet-landscape-up {
      @include title-mobile;
    }
  }

  &__data-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 22px;
    margin-bottom: 12px;
    width: 100%;

    @include for-phone-only {
      justify-content: space-between;
      margin-top: 15px;
    }
  }

  &__count-result {
    position: relative;
    margin-right: 54px;
    color: $silver-100;

    @include for-phone-only {
      margin-bottom: 5px;
    }

    &::after {
      @include pos-absolute(0, -31px, auto, auto);

      width: 1px;
      height: 100%;
      background-color: rgba(156, 156, 156, 0.6);

      @include for-phone-only {
        content: none;
      }
    }
  }

  &__sorting {
    word-break: break-all;

    @include for-phone-only {
      margin-bottom: 5px;
    }
  }

  &__sorting-caption {
    color: $silver-100;
  }

  &__sorting-type {
    margin-right: 20px;
    text-decoration: underline;
    cursor: pointer;
  }

  &__options {
    display: none;
  }

  &__show-map {
    position: relative;
    padding-left: 22px;
    margin-left: auto;

    @include for-phone-only {
      margin-left: 0;
    }

    &::before {
      @include pos-absolute;

      width: 12px;
      height: 16px;
      background: url("/src/images/icon-location-blue.svg") no-repeat center center;
    }
  }
}
