.area-info {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  &__title--detailed {
    width: 100%;
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
  }

  &__address {
    font-style: normal;

    &--detailed {
      margin: 12px 0;
    }
  }

  &__address--index {
    order: 4;
  }
}
