.breadcrumbs {
  @include clear-list;

  display: flex;
  flex-wrap: wrap;

  &__item {
    position: relative;
    margin-right: 20px;

    @include for-desktop-up {
      margin-right: 35px;
    }

    &::after {
      @include pos-absolute(0, -13px, auto, auto);

      content: ">";
      color: $silver-100;

      @include for-desktop-up {
        right: -20px;
      }
    }

    &:last-child {
      margin-right: 0;

      &::after {
        content: none;
      }
    }

    &--detailed {
      margin-right: 25px;

      &::after {
        right: -15px;
      }
    }
  }

  &__link {
    color: $silver-100;

    &:hover,
    &:focus {
      color: darken($silver-100, 7);
    }
  }
}
