.button-action {
  width: 50%;
  margin-top: -16px;
  margin-left: auto;


  @include for-phone-only {
    width: auto;
    margin-top: 15px;
  }

  &__list {
    @include clear-list;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
  }

  &__item {
    margin-right: 20px;

    &:first-child {
      margin-left: auto;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__image,
  &__image-count {
    display: inline-block;
    vertical-align: middle;
  }
}
