.contact {
  flex-grow: 1;
  font-family: $font-rubik;
  line-height: 9px;
  color: $silver-200;

  @include to-tablet-landscape-up {
    width: 100%;
  }

  &__address {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    @include for-tablet-landscape-up {
      max-width: 575px;
      margin-left: auto;
    }

    @include for-desktop-up {
      &::before {
        @include pos-absolute(0, auto, auto, -64px);

        width: 1px;
        height: 80%;
        background-color: #ffffff;
      }
    }
  }

  &__address-group {
    margin-right: 5%;
    text-align: right;
    line-height: 26px;
    word-break: break-all;

    @include for-phone-only {
      width: 100%;
    }

    &--location {
      max-width: 193px;
    }

    &--contact {
      max-width: 185px;
    }

    &--time-work {
      max-width: 126px;
    }

    &--location,
    &--contact,
    &--time-work {
      text-align: left;

      @include for-phone-only {
        margin-right: 0;
        margin-bottom: 15px;
        max-width: none;
      }

      @include for-tablet-landscape-up {
        text-align: right;
      }
    }


    &:last-child {
      margin-right: 0;
    }
  }

  &__address-address {
    font-style: normal;
  }

  &__address-phone {
    display: block;
    font-style: normal;
  }

  &__address-time {
    margin: 0;
  }

  &__title {
    margin: 0;
    font-size: 12px;
    font-weight: 400;
  }
}
