.detailed-offer {
  padding: 18px 25px 30px 17px;
  background-color: #ffffff;

  @include for-phone-only {
    padding-right: 17px;
  }

  &__info-short {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__info-short-title {
    margin-right: 20px;
    display: inline-block;
    font-size: 16px;
    line-height: 23px;
    color: $silver-200;

    @include for-phone-only {
      max-width: none;
      width: 100%;
      font-size: 14px;
      line-height: 16px;
    }
  }

  &__info-short-date {
    max-width: 45%;
    margin-top: 5px;
    font-size: 10px;
    line-height: 15px;
    color: $silver-200;
    text-align: right;

    @include for-phone-only {
      max-width: none;
    }
  }

  &__title {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;

    @include for-phone-only {
      @include title-mobile;

      margin-top: 10px;
    }
  }

  &__data {
    color: $blue-base;
  }

  &__gallary {
    margin-top: 20px;
  }

  &__description {
    margin-top: 15px;
    font-size: 14px;
    line-height: 21px;
  }

  &__property {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 34px;
  }

  &__property-title {
    width: 100%;
    margin: 0;
    margin-bottom: 18px;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
  }

  &__property-promo {
    max-width: 278px;
    margin-top: 15px;
    padding: 8px 36px;
    border: 1px solid rgba(0, 0, 0, 0.1);

    @include for-phone-only {
      padding: 8px 15px;
      margin-left: 0;
    }

    @include for-tablet-landscape-up {
      margin-top: 0;
      margin-left: auto;
    }
  }

  &__property-promo-link {
    text-decoration: underline;
    line-height: 25px;
  }

  &__area-info {
    padding-top: 40px;
    padding-bottom: 33px;
  }
}
