.gallary {
  width: 100%;

  &__image-preview--active {
    width: 100%;
    max-height: 395px;
    object-fit: cover;
  }

  &__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    @include for-phone-only {
      margin-top: 10px;
    }
  }

  &__image {
    width: 18.9%;
    margin-right: 10px;
    margin-bottom: 15px;
    max-height: 90px;

    @include for-phone-only {
      width: 20%;

      &:nth-child(4n) {
        margin-right: 0;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
