.input {
  width: 100%;
  padding: 9px 21px;
  border: 1px solid #C4C4C4;

  &--side-register {
    padding: 6px 9px;
  }

  &--side-register-tel {
    padding-left: 16px;
  }

  &::placeholder {
    color: $silver-100;
  }
}
