.metro-list {
  @include clear-list;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin: 0;

  &--detailed {
    max-width: 45%;
    @include for-phone-only {
      max-width: none;
      width: 100%;
    }
  }

  &__item {
    width: 100%;
    margin-bottom: 10px;
    word-break: break-all;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__branch {
    position: relative;
    padding-left: 6px;
    font-weight: 500;

    &--light {
      font-weight: 400;
    }
  }

  &__icon--yellow path {
    fill: $yellow-metro;
  }

  &__icon--blue path {
    fill: $blue-metro;
  }

  &__time {
    margin-left: 6px;
    color: $silver-200;
  }
}
