.nearby {
  position: relative;
  padding-top: 35px;

  @include for-phone-only {
    padding-top: 15px;
  }

  &--detailed {
    .nearby__places-list {
      display: flex;
      flex-wrap: wrap;
    }

    @include for-desktop-up {
      &::before {
        @include pos-absolute(0, auto, auto, -17px);

        width: 575px;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.1);;
      }
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 27px;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
  }

  &__text {
    position: relative;
    display: inline-block;
    margin: 0;
    margin-bottom: 36px;
    font-size: 18px;
    line-height: 26px;
    color: $blue-base;

    @include for-desktop-up {
      &::after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        margin-right: -100%;
        margin-left: 20px;
        width: 655px;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }

  &__place-card {
    margin-bottom: 26px;
  }
}
