.pagination-address {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @include for-phone-only {
    display: none;
  }

  &__prev,
  &__next {
    position: relative;
    display: block;

    &::before {
      @include pos-absolute;
      top: 50%;
      width: 12px;
      height: 12px;
      background: url("/src/images/arrow-blue.svg") no-repeat center center;
      transform: translateY(-50%);
    }
  }

  &__prev {
    margin-right: 26px;
    padding-left: 24px;

    &::before {
      transform: translateY(-50%) scale(-1, 1);
    }

    &::after {
      @include pos-absolute(0, -15px, auto, auto);

      width: 1px;
      height: 100%;
      background-color: $blue-base;
    }
  }

  &__next {
    padding-right: 24px;

    &::before {
      left: auto;
      right: 0;
    }
  }
}
