.place-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 15px;
  padding-right: 46px;
  background-color: #ffffff;

  @include to-tablet-landscape-up {
    flex-wrap: wrap;
    padding-right: 15px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__image-block {
    position: relative;
    width: 37%;
    min-width: 300px;
    margin-right: 32px;
    overflow: hidden;

    @include to-tablet-landscape-up {
      width: 100%;
      min-width: auto;
      max-height: 400px;
      margin-bottom: 20px;
      margin-right: 0;
    }
  }

  &__image-count {
    @include pos-absolute(auto, 5px, 5px, auto);

    min-width: 40px;
    max-width: 100px;
    min-height: 20px;
    padding: 0 10px;
    background-color: $blue-base;
    color: #ffffff;
    font-weight: 500;
    text-align: center;
    word-break: break-all;
  }

  &__image {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  &__title {
    max-width: 248px;
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #000000;

    @include for-phone-only {
      @include title-mobile;

      width: 100%;
      max-width: none;
    }
  }

  &__price {
    max-width: 200px;
    margin-left: auto;

    @include for-phone-only {
      width: 100%;
      margin: 0;
      margin-top: 10px;
    }
  }

  &__price-value {
    display: block;
    font-size: 24px;
    line-height: 20px;

    @include for-phone-only {
      font-size: 22px;
      line-height: 18px;
    }
  }

  &__price-metr {
    font-size: 16px;
    line-height: 23px;

    @include for-phone-only {
      font-size: 14px;
      line-height: 21px;
    }
  }

  &__description-short {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 23px;
    color: $silver-200;

    @include for-phone-only {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 10px;
    }
  }

  &__area-info {
    margin-top: 5px;
  }

  &__description {
    position: relative;
    margin: 0;
    margin-top: 14px;
    font-size: 14px;
    line-height: 21px;
  }

  &__detail-link {
    float: right;
  }
}
