.place-card-nearby {
  width: 25%;
  max-width: 164px;
  margin-right: 20px;

  @include for-phone-only {
    max-width: none;
    width: 100%;
    margin-right: 0;
  }

  @include for-desktop-up {
    width: 20%;
  }

  &:last-child {
    margin-right: 0;
  }

  &__image-block {
    width: 100%;
    min-width: auto;
    max-height: 90px;
    margin-right: 0;
    margin-bottom: 8px;
    overflow: hidden;

    @include for-phone-only {
      max-height: 200px;
    }
  }

  &__image {
    display: block;
    width: 100%;
    object-fit: cover;
  }

  &__area {
    color: $blue-base;
  }

  &__title {
    margin: 0;
    font-size: 12px;
    line-height: 18px;
  }

  &__value {
    font-weight: 500;
  }
}
