.property-table {
  width: 100%;

  @include for-tablet-landscape-up {
    width: auto;
  }

  &__term {
    font-size: 12px;
    line-height: 24px;
    color: $silver-200;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
  }

  &__col {
    display: flex;
    align-items: center;
    margin-right: 72px;
    padding: 0;
    word-break: break-all;

    @include for-phone-only {
      width: 100%;
      margin-right: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:first-child {
      .property-table__term {
        display: inline-block;
        width: 118px;
        margin-right: 24px;

        @include for-phone-only {
          min-width: 120px;
          margin-right: 20px;
        }
      }

      .property-table__value {
        display: inline-block;
        width: 42px;
      }
    }

    &:last-child {
      .property-table__term {
        display: inline-block;
        width: 88px;
        margin-right: 28px;

        @include for-phone-only {
          min-width: 120px;
          margin-right: 20px;
        }
      }

      .property-table__value {
        display: inline-block;
        width: 70px;
      }
    }
  }
}
