.side-call-me {
  padding: 24px 36px;
  background-color: #ffffff;

  &__text {
    margin: 0;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
  }

  &__image {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 18px;
  }

  &__tel {
    display: block;
    margin-bottom: 17px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
  }

  &__button {
    display: block;
    max-width: 159px;
    margin: 0 auto;
    padding: 5px 10px;
  }
}
