.side-register-consultation {
  padding: 14px 28px 22px 28px;
  background-color: #ffffff;

  &__text {
    margin: 0;
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
}
