.side-register-viewing {
  padding: 14px 17px 18px 17px;
  background-color: #ffffff;
  text-align: center;

  &__title {
    margin-top: 0;
    margin-bottom: 13px;
    font-family: $font-rubik;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }
}
