.side-reviews-last {
  padding: 15px 17px 13px 17px;
  background-color: #ffffff;
  text-align: center;

  &__title {
    margin: 0;
    margin-bottom: 13px;
    font-family: $font-rubik;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  &__text {
    margin-bottom: 7px;
    font-family: $font-rubik;
    font-style: italic;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
  }

  &__user {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
  }

  &__photo {
    width: 30px;
    height: 30px;
  }

  &__user-name {
    margin-left: 14px;
    font-family: $font-rubik;
    color: $blue-base;
  }

  &__link-all {
    display: block;
    margin-top: 26px;
    margin-bottom: 11px;
    color: $green-base;
  }
}
