.side-detailed-price {
  align-self: flex-start;
  width: 100% !important;
  margin-right: 0;
  padding: 19px 48px 27px 18px;
  background-color: #ffffff;

  &__price {
    display: block;
    width: 100%;
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;
  }

  &__price-metr {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 23px;
  }

  &__mortgage-link {
    font-size: 16px;
    line-height: 23px;
    border-bottom: 1px dashed $blue-base;
  }
}
