.side-register-consultation-form {
  &__group {
    padding: 0;
    border: none;
  }

  &__input-group {
    margin: 0;
    margin-bottom: 17px;

    &--date {
      display: flex;

      input:first-child {
        max-width: 90px;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__submit {
    margin-top: 17px;
    padding: 8px 10px;
  }
}
