.side-detailed-manager {
  padding: 19px 61px 20px 58px;
  background-color: #ffffff;
  text-align: center;

  &__function {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
  }

  &__fio {
    margin: 0;
    margin-bottom: 13px;
  }

  &__photo-block {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 10px;
    background: #C76464;
    border-radius: 50%;
  }

  &__time-work {
    max-width: 92px;
    margin: 9px auto 7px auto;
  }

  &__phone {
    display: block;
    margin-bottom: 10px;
    font-family: $font-rubik;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }

  &__feedback-link.button {
    display: block;
    padding: 7px;
  }
}
