.side-watch-price {
  padding: 15px 28px 20px 28px;
  text-align: center;
  background-color: #ffffff;

  &__title {
    margin: 0;
    margin-bottom: 5px;
    font-family: $font-rubik;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  &__text {
    max-width: 170px;
    margin: 0 auto;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
  }

  &__form {
    margin-top: 10px;
  }
}
