.side-bar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  word-break: break-all;
  z-index: 1;
  background-color: $bg-site;

  @include for-desktop-up {
    display: block;
    max-width: 298px;
    padding-left: 20px;
  }

  &__side {
    width: 100%;
    max-width: 298px;
    margin-right: 20px;
    margin-bottom: 26px;

    @include for-phone-only {
      max-width: none;
      margin-right: 0;
    }

    @include for-desktop-up {
      margin-right: 0;
    }

    @media (min-width: 600px) and (max-width: 1199px) {
      width: 48%;
      max-width: none;

      &:nth-child(2n) {
        margin-right: 0;
      }
    }


    &--detailed {
      margin-bottom: 15px;

      @media (min-width: 600px) and (max-width: 1199px) {
        &:nth-child(odd) {
          margin-right: 0;
        }
      }

    }

    &:last-child {
      margin-right: 0;
    }

  }
}
