.social {
  &__list {
    @include clear-list;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__item {
    margin-right: 17px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link svg path {
    fill: $silver-200;
  }

  &__link--google:hover svg path,
  &__link--google:focus svg path {
    fill: #DB4437;
  }

  &__link--vk:hover svg path,
  &__link--vk:focus svg path {
    fill:#4c75a3;
  }

  &__link--skype:hover svg path,
  &__link--skype:focus svg path {
    fill: #00aff0;
  }

  &__link--fb:hover svg path,
  &__link--fb:focus svg path {
    fill: #3b5998;
  }
}
