.variant-proposals-lists {
  @include clear-list;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;

  &__item {
    position: relative;
    margin-right: 25px;
    word-break: break-all;

    &::after {
      @include pos-absolute(0, -13px, auto, auto);
      width: 1px;
      height: 100%;
      background-color: rgba(156, 156, 156, 0.6);
      z-index: 2;
    }

    &:last-child {
      margin-right: 0;

      &::after {
        content: none;
      }
    }
  }

  &__count-search {
    font-size: 9px;
    line-height: 13px;
    color: $silver-100;
  }
}
