.page-footer {
  background-color: #000000;

  &__top {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 36px;
    padding-bottom: 39px;

    @include for-desktop-up {
      flex-wrap: nowrap;
    }
  }

  &__navigation.site-navigation-bottom {
    margin-right: 20px;

    @include to-tablet-landscape-up {
      margin: 0 auto;
    }
  }

  &__contact {
    @include to-tablet-landscape-up {
      margin-top: 20px;
    }
  }

  &__bottom {
    background-color: #ffffff;
  }

  &__bottom-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 28px;
    padding-bottom: 28px;

    &--detailed {
      padding-top: 14px;
      padding-bottom: 14px;
    }
  }

  &__year {
    max-width: 100px;
    margin-right: 20px;
    font-family: $font-rubik;
    font-weight: 500;
    line-height: 19px;
    word-break: break-all;
  }
}
