.page-main {
  padding-top: 14px;

  &__container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    @include for-desktop-up {
      flex-wrap: nowrap;
    }
  }

  &__content {
    width: 100%;
    padding-bottom: 80px;

    @include for-desktop-up {
      width: 74.52%;
      padding-bottom: 340px;
    }

    &--detailed {
      padding-bottom: 25px;

      @include for-desktop-up {
        padding-bottom: 302px;
      }
    }
  }

  &__breadcrumbs-list {
    margin: 0;
    margin-top: 18px;

    &--detailed {
      margin-top: 6px;
      margin-bottom: 12px;
    }
  }

  &__pagination {
    margin-bottom: 17px;
  }
}
