.page-header {
  background: #ffffff;

  &__top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 6px;
  }

  &__top-left,
  &__top-right {
    @include for-tablet-landscape-up {
      width: 24%;
    }
  }

  &__top-right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
  }

  &__office-link {
    position: relative;
    display: block;
    margin-right: 20px;
    padding-left: 24px;
    text-decoration: underline;

    @include for-phone-only {
      margin-right: 5px;
    }

    &::before {
      @include pos-absolute(50%, auto, auto, 0);
      width: 12px;
      height: 16px;
      background: url("/src/images/icon-location.svg") no-repeat center center;
      transform: translateY(-50%);
    }
  }

  &__address {
    display: none;
    margin: 0 auto;
    font-family: $font-rubik;
    font-weight: 300;
    color: #222222;
    font-style: normal;

    @include for-tablet-landscape-up {
      display: block;
    }
  }

  &__address-tel {
    position: relative;
    padding-left: 17px;
    line-height: 22px;

    &::before {
      @include pos-absolute(50%, auto, auto, 0);
      width: 12px;
      height: 12px;
      background: url("/src/images/icon-phone.svg") no-repeat center center;
      transform: translateY(-50%);
    }

    @include for-desktop-up {
      margin-right: 28px;
    }
  }

  &__vacancies-link {
    display: none;
    margin-right: 52px;
    word-break: break-all;

    @include for-desktop-up {
      display: block;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 16px;
    min-height: 70px;
  }

  &__logo-link {
    margin-right: 20px;
  }

  &__navigation {
    flex-grow: 1;
  }
}
