.site-navigation {
  @include clear-list;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  max-width: 100%;
  margin: 0;
  word-break: break-all;

  @include for-phone-only {
    display: none;
  }

  &__item {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }

    @include for-desktop-up {
      margin-right: 52px;
    }
  }

  &__link {
    font-size: 14px;
    line-height: 16px;
    color: #000000;
  }

  &__link--active {
    color: $blue-base;
  }
}
