.site-navigation-bottom {
  @include clear-list;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-self: flex-start;
  margin: 0 auto;
  word-break: break-all;

  @include for-tablet-landscape-up {
    max-width: 260px;
    margin: 0;
  }

  &__item {
    margin-bottom: 5px;

    @include for-tablet-landscape-up {
      min-width: 98px;
    }

    &:nth-child(odd) {
      margin-right: 25px;

      @include for-desktop-up {
        margin-right: 52px;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    &:nth-child(even) {
      margin-right: 25px;

      @include for-tablet-landscape-up {
        margin-right: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__link {
    font-family: $font-rubik;
    color: #ffffff;
    font-weight: 500;
    font-size: 12px;
    line-height: 9px;
  }
}
